<!--
  Generated template for the HouseFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="action == 'new'">New House</ion-title>
    <ion-title *ngIf="action == 'edit'">Edit House</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="house-photo">
    <img *ngIf="photoData != null" src="data:image/png;base64,{{photoData}}" />
  </div>

  <form [formGroup]="formData" (submit)="save()" padding>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input formControlName="address" type="text"></ion-input>
    </ion-item>
    <ion-input type="hidden" formControlName="_id"></ion-input>
    <ion-input type="hidden" formControlName="_rev"></ion-input>
    <button ion-button block type="submit" >Save</button>
  </form>

  <button ion-button (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
  </button>

</ion-content>
