page-house-details {
  .house-splash {
    position: relative;
    max-height: 250px;
    overflow:hidden;
    img {
    }
    .action-icons {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
    }
  }
}
