<ion-header>
  <ion-navbar>
    <ion-title>{{selectedHouse.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMoreMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-fab right bottom>
    <button ion-fab (click)="editHouse($event, selectedHouse)"><ion-icon name="create"></ion-icon></button>
  </ion-fab>

  <div class="house-splash">
    <img src="assets/imgs/house-default.jpg" />
    <div class="action-icons">
      <button ion-button icon-only clear color="light" large>
        <ion-icon name="camera"></ion-icon>
      </button>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="pin" item-start></ion-icon>
      <h2>Address</h2>
      <p>{{selectedHouse.address}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="cube" item-start></ion-icon>
      <h2>ID</h2>
      <p>{{selectedHouse._id}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="albums" item-start></ion-icon>
      <h2>Revision</h2>
      <p>{{selectedHouse._rev}}</p>
    </ion-item>
  </ion-list>
</ion-content>
