<ion-header>

  <ion-navbar>
    <ion-title>List of Houses</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="newHouse($event)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card ion-item *ngFor="let house of houses" (click)="selectHouse($event, house)">
    <img src="assets/imgs/house-default.jpg" />
    <ion-card-content>
      <ion-card-title>
        {{ house.name }}
      </ion-card-title>
      <p>
        {{ house.address }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
